.feed {
    flex: 3; 
    padding: 20px;
  }
  
  .feedWrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  .feedWrapper > * {
    margin-bottom: 20px; 
  }
  
  .showMoreBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .showMoreBtn:hover {
    background-color: #0056b3;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 16px;
    background-color: #3cb371;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #81ff7d;
  }
  

  